#author_link {
    color: rgb(0, 4, 36);
}
#nav-color{
    background-color: hsl(0, 18%, 66%);
}
#drop-menu{
    background-color: hsl(0, 12%, 52%);
}
#drop-it:hover{
    background-color: rgb(107, 104, 102);
    cursor: pointer;
}
main{
    background-color: rgb(169, 107, 107);
}