#body {
    display: block;
}

#author_picture {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#author_name, #author_date, #author_bio {
    display: block;
    text-align: left;
    padding: 0%;
}

#obras_text {
    padding-top: 1%;
    padding-left: 2.5%;
    margin-bottom: 2%;
    text-align: left;
}

#modals {
    display: block;
    text-align: left;
}

#author_link {
    color: rgb(0, 4, 36);
}

#nav-color{
    background-color: hsl(0, 18%, 66%);
}

#drop-menu{
    background-color: hsl(0, 12%, 52%);
}

#drop-it:hover{
    background-color: rgb(107, 104, 102);
    cursor: pointer;
}

.ventana-emergente {
    position: fixed;
    top: 0;
    right: -33%;
    width: 33%;
    height: 100%;
    background-color: #f8f9fa;
    transition: right 0.3s ease; 
    z-index: 9999;
    overflow-y: auto; 
    border-left: 1px solid #ccc; 
  }