body {
    margin: 0;
}

#libros{
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    height: auto;
}

#book_title {
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

#genres {
    display: block;
    font-family:'Verdana', Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    text-align: left;
}

.ventana-emergente {
    position: fixed;
    top: 0;
    right: -33%;
    width: 33%;
    height: 100%;
    background-color: #f8f9fa;
    transition: right 0.3s ease; 
    z-index: 9999;
    overflow-y: auto; 
    border-left: 1px solid #ccc; 
  }