<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Arte de Leer y Aprender</title>
    <link rel="stylesheet" href="/css/PaginaInicial.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head> 
<header>
  <!-- Modal Logging -->
  <div class="modal fade" id="LoggingModal" tabindex="-1" aria-labelledby="LoggingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="LoggingModalLabel">Inicio de sesión</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <div id="emailHelp" class="form-text">No compartas tu contraseña con desconocidos.</div>
            </div>
            <button type="submit" class="btn btn-primary" disabled>Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Logging -->
  <!-- NavBar inicio -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid" id="nav-color">
      <a class="navbar-brand" href="/PaginaInicial.html">El Arte de Leer <br> y Aprender</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="/PaginaInicial.html">Home</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explorar
                </a>
                <ul class="dropdown-menu" id="drop-menu" >
                  <li ><a id="drop-it" class="dropdown-item" href="/Paginas/Mostnew.html">Agregados recientemente</a></li>
                  <li ><a id="drop-it" class="dropdown-item" href="/Paginas/Generos.html">Busqueda por genero</a></li>
                  <li ><a id="drop-it" class="dropdown-item" href="/Paginas/Writers.html">Escritores populares</a></li>
                  </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="#">Sobre nosotros</a>
          </li>
        </ul>
        <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#LoggingModal">Loggin</button>
        <a class="btn btn-primary" href="../Paginas/Formulario.html" role="button" style="margin-left: 1%;">Register</a>
        <button class="btn btn-abrir-ventana border" style="margin-left: 1%;">🛒</button>  <!-- Boton carrito -->
      </div>
    </div>
  </nav>
  <!-- NavBar fin -->
</header>
<body>
<main>
  <!--Carrusel--> 
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/Inicio/carrusel.webp" class="d-block w-100" alt="100">
      </div>
      <div class="carousel-item">
        <img src="img/Inicio/carrusel2.jpg" class="d-block w-100" alt="100">
      </div>
      <div class="carousel-item">
        <img src="img/Inicio/carrusel3.jpg" class="d-block w-100" alt="100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2 style="margin-bottom: 1%; margin-top: 3%; margin-left: 5.5%;" id="title">Agregados recientemente:</h2>
  <div class="row" id="mostnew" style="margin-right: 6%; margin-left: 6%;">
    
  </div>
  <div class="row" style="margin-right: 6%; margin-left: 6%;">
    <a class="btn btn-dark" href="../Paginas/Mostnew.html" role="button" style="margin-bottom: 2%">⟱</a>
  </div>
  <h2 style="margin-bottom: 1%; margin-top: 3%; margin-left: 5.5%;" id="title">Escritores conocidos:</h2>
  <div class="row" id="writers" style="margin-right: 6%; margin-left: 6%;">
    
  </div>
  <div class="row" style="margin-right: 6%; margin-left: 6%;">
    <a class="btn btn-dark" href="../Paginas/Writers.html" role="button" style="margin-bottom: 2%">⟱</a>
  </div>
  <div id="modals">

  </div>

  <!-- DIV CARRITO -->
  <div class="ventana-emergente">
    <h2>Carrito de Compra</h2>
    <ul class="list-group">
      <li class="list-group-item">Libro 1</li>
      <li class="list-group-item">Libro 2</li>
      <li class="list-group-item">Libro 3</li>
      <li class="list-group-item"><a class="btn btn-outline-info" href="../Paginas/Carrito.html">Ver más</a></li>
    </ul>
  </div>
</main>
  <ul class="nav justify-content-center" id="nav-color">
    <h4>Contactanos:</h4>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Instagram</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Facebook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Whatsapp Empresa</a>
    </li><li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">...</a>
    </li>
  </ul>
  <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../js/jquery-3.7.1.min.js"></script>
  <script>
    $(document).ready(function () {
        $.get("https://openlibrary.org/search.json?q=first_publish_year%3A[*+TO+1800]&fields=cover_i,title,author_name,first_publish_year,author_key,key,first_sentence", function(data) {
          $.each(data.docs, function (i, tmp) {
            if (i >= 6) {
              return false;
            }

            const coverUrl = "https://covers.openlibrary.org/b/id/" + tmp.cover_i + ".jpg"
            const imgElement = $("<img>").attr("src", coverUrl).addClass("card-img-top");
            imgElement.attr("src", coverUrl);

            var workString = tmp.key;
            var workCode = workString.replace("/works/", "");

            if (tmp.first_sentence === undefined) { 
              var firstSentence = "";
            } else if (Array.isArray(tmp.first_sentence)) {
              var firstSentence = tmp.first_sentence[0]+"...";
            } else {
              var firstSentence = tmp.first_sentence+"...";
            }

            $("#mostnew").append(
                "<div class=\"col-2\" style=\"margin-bottom: 5%;\">" +
                    "<button type=\"button\" class=\"btn p-0\" data-bs-toggle=\"modal\" data-bs-target=\"#" + workCode + "\">" +
                        "<div class=\"card\" style=\"width: 100%;\">" +
                            imgElement.prop('outerHTML') +
                            "<div class=\"card-body\">" +
                                "<h4 class=\"card-title\"><b>" + tmp.title + "</b></h4>" +
                                "<p class=\"card-text\"><b>" + tmp.author_name[0] + "</b><br>"+tmp.first_publish_year+"</p>" +
                            "</div>" +
                        "</div>" +
                    "</button>" +
                "</div>"
            )

            $("#modals").append(
                "<div class=\"modal fade\" id=" + workCode + " aria-labelledby=\"bookModalLabel\" aria-hidden=\"true\">" +
                    "<div class=\"modal-dialog\">" +
                        "<div class=\"modal-content\">" +
                            "<div class=\"modal-header\">" +
                                "<h1 class=\"modal-title fs-5\" id=\"bookModalLabel\"></h1>" +
                                "<button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\" aria-label=\"Close\"></button>" +
                            "</div>" +
                            "<div class=\"modal-body\">" +
                                "<div class=\"container-fluid\">" +
                                    "<div class=\"row\">" +
                                        "<div class=\"col-4\">" +
                                            imgElement.prop('outerHTML') +
                                        "</div>" +
                                        "<div class=\"col-8\">" +
                                            "<h1>" + tmp.title + "</h1>" +
                                            "<a href=\"../paginas/escritor.html#" + tmp.author_key[0] +"\" class=\"link-underline link-underline-opacity-0 link-underline-opacity-100-hover fst-italic fw-medium\" id=\"author_link\"><h4><br>" + tmp.author_name + "</h4></a>" +
                                            "<h6>" + tmp.first_publish_year + "</h6>" +
                                        "</div>" +
                                    "<div class=\"row\">" +
                                        "<div class=\"col-12\">" +
                                        "<h6 style=\"margin-top: 2%;\">" + firstSentence + "...</h6>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                            "<div class=\"modal-footer\">" +
                                "<button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cerrar</button>" +
                                "<button type=\"button\" class=\"btn btn-primary\" disabled>Agregar al carrito</button>" +
                            "</div>" +
                        "</div>" +
                    "</div>" +
                "</div>"
              )
            }
          )
        }
      )

      $.get("https://openlibrary.org/search/authors.json?q=work_count%3A[500+TO+*]&fields=name,date,birth_date,death_date,top_work,key,work_count", function(data) {
            $.each(data.docs, function (i, tmp) {
              if (i >= 6) {
                return false;
              }

              const imgUrl = "https://covers.openlibrary.org/a/olid/" + tmp.key + ".jpg"
              const imgElement = $("<img>").attr("src", imgUrl).addClass("card-img-top");
              imgElement.attr("src", imgUrl);

              var date = " "
              if (tmp.date != undefined) {
                date = tmp.date;
              } else if (tmp.birth_date != undefined && tmp.death_date != undefined) {
                date = tmp.birth_date + " ~ " + tmp.death_date
              } else if (tmp.birth_date != undefined && tmp.death_date === undefined) {
                date = tmp.birth_date + " ~ ???"
              } else {
                date = "??? ~ ???";
              }

              $("#writers").append(
                  "<div class=\"col-2\" style=\"margin-bottom: 5%;\">" +
                      "<button type=\"button\" class=\"btn p-0\" data-bs-toggle=\"modal\" data-bs-target=\"#author_" + tmp.key + "\">" +
                          "<div class=\"card\" style=\"width: 100%;\">" +
                              imgElement.prop('outerHTML') +
                              "<div class=\"card-body\">" +
                                  "<h4 class=\"card-title\"><b>" + tmp.name + "</b></h4>" +
                                  "<p class=\"card-text\">Obra destacada: <br>\"<b><i>" + tmp.top_work + "</b></i>\"</p>" +
                              "</div>" +
                          "</div>" +
                      "</button>" +
                  "</div>"
              )

              $("#modals").append(
                  "<div class=\"modal fade\" id=author_" + tmp.key + " aria-labelledby=\"bookModalLabel\" aria-hidden=\"true\">" +
                      "<div class=\"modal-dialog\">" +
                          "<div class=\"modal-content\">" +
                              "<div class=\"modal-header\">" +
                                  "<h1 class=\"modal-title fs-5\" id=\"bookModalLabel\"></h1>" +
                                  "<button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\" aria-label=\"Close\"></button>" +
                              "</div>" +
                              "<div class=\"modal-body\">" +
                                  "<div class=\"container-fluid\">" +
                                      "<div class=\"row\">" +
                                          "<div class=\"col-4\">" +
                                              imgElement.prop('outerHTML') +
                                          "</div>" +
                                          "<div class=\"col-8\">" +
                                              "<h1>" + tmp.name + "</h1>" +
                                              "<h6>" + date + "</h6>" +
                                              "<h6>" +  tmp.work_count + " Libros publicados</h6>" +
                                              "<h4><br>Obra destacada:<br>\"<b><i>" + tmp.top_work + "</b></i>\"</h4>" +
                                          "</div>" +
                                      "</div>" +
                                  "</div>" +
                              "</div>" +
                              "<div class=\"modal-footer\">" +
                                  "<button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cerrar</button>" +
                                  "<a href=\"/Paginas/Escritor.html#" + tmp.key + "\" class=\"btn btn-primary\" role=\"button\">Ver más</a>" +
                              "</div>" +
                          "</div>" +
                      "</div>" +
                  "</div>"
                )
              }
            )
          }
        )
      }
    )
  </script>

  <!-- SCRIPT CARRITO -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const btnAbrirVentana = document.querySelector('.btn-abrir-ventana');
      const ventanaEmergente = document.querySelector('.ventana-emergente');

      btnAbrirVentana.addEventListener('click', function() {
        ventanaEmergente.style.right = '0';
      });

      document.addEventListener('click', function(event) {
        if (!ventanaEmergente.contains(event.target) && !btnAbrirVentana.contains(event.target)) {
          ventanaEmergente.style.right = '-33%';
        }
      });
    });
  </script>
</body>
</html>
