<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alya | Carrito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<header>
  {% include 'base/header.html'%}
</header>
<footer>
  {% include 'base/footer.html'%}
</footer>
<body>
    <main>
      <div class="container mt-5" id="container">
        <div class="row">
          <div class="col">
            <table class="table border border-2 border-dark-subtle border-opacity-50">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle" scope="col"><button type="button" class="btn"><img src="/img/carrito/cerrar.png" alt="?" id="btn"></button></td>
                  <td class="align-middle"><img src="/img/escritor/Libro 1.jpg" class="rounded-2" alt="?" width="120" height="180"></td>
                  <td class="align-middle"><h5>El Silmarillion</h5></td>
                  <td class="align-middle"><h6>J. R. R. Tolkien</h6></td>
                  <td class="align-middle">$???</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="col"><button type="button" class="btn"><img src="/img/carrito/cerrar.png" alt="?" id="btn"></button></td>
                  <td class="align-middle"><img src="/img/escritor/Libro 2.jpg" class="rounded-2" alt="?" width="120" height="180"></td>
                  <td class="align-middle"><h5>El Hobbit</h5></td>
                  <td class="align-middle"><h6>J. R. R. Tolkien</h6></td>
                  <td class="align-middle">$???</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="col"><button type="button" class="btn"><img src="/img/carrito/cerrar.png" alt="?" id="btn"></button></td>
                  <td class="align-middle"><img src="/img/escritor/Libro 3.png" class="rounded-2" alt="?" width="120" height="180"></td>
                  <td class="align-middle"><h5>El señor de los anillos</h5></td>
                  <td class="align-middle"><h6>J. R. R. Tolkien</h6></td>
                  <td class="align-middle">$???</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="col"><button type="button" class="btn"><img src="/img/carrito/cerrar.png" alt="?" id="btn"></button></td>
                  <td class="align-middle"><img src="/img/escritor/Libro 1.jpg" class="rounded-2" alt="?" width="120" height="180"></td>
                  <td class="align-middle"><h5>El Silmarillion</h5></td>
                  <td class="align-middle"><h6>J. R. R. Tolkien</h6></td>
                  <td class="align-middle">$???</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="col"><button type="button" class="btn"><img src="/img/carrito/cerrar.png" alt="?" id="btn"></button></td>
                  <td class="align-middle"><img src="/img/escritor/Libro 2.jpg" class="rounded-2" alt="?" width="120" height="180"></td>
                  <td class="align-middle"><h5>El Hobbit</h5></td>
                  <td class="align-middle"><h6>J. R. R. Tolkien</h6></td>
                  <td class="align-middle">$???</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="col"><button type="button" class="btn"><img src="/img/carrito/cerrar.png" alt="?" id="btn"></button></td>
                  <td class="align-middle"><img src="/img/escritor/Libro 3.png" class="rounded-2" alt="?" width="120" height="180"></td>
                  <td class="align-middle"><h5>El señor de los anillos</h5></td>
                  <td class="align-middle"><h6>J. R. R. Tolkien</h6></td>
                  <td class="align-middle">$???</td>
                </tr>
              </tbody>
              <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-success btn-lg">Confirmar</button>
                  </div>
                </td>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </main>
    <footer>

    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</body>
</html>