<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Crud.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-6 text-center mx-auto shadow-lg mt-5">
                    <h2 class="my-3">Usuarios registrados</h2><br>
                    <table class="table table-dark table-hover table-bordered">
                        <thead>
                            <th>Rut</th>
                            <th>Nom</th>
                            <th>Ape</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            {% if usuarios %}
                            {% for tmp in usuarios%}
                            <tr>
                                <td> {{tmp.rut}}  </td>
                                <td> {{tmp.nombre}}  </td>
                                <td> {{tmp.ape}}  </td>
                                <td><button class="btn btn-warning">Modificar</button></td>
                                <td><button class="btn btn-danger">Eliminar</button></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <a href="{% url 'formulario' %}"><button class="btn btn-primary">Agregar usuarios</button></a>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}""></script>
</body>

</html>