<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <form action="{% url 'formulario' %}" method="POST"  id="formulario" class="col-6 text-center mx-auto shadow-lg mt-5">
                {% crsf_token %}
                <div class="my-3">
                    <h4>Formulario de registro</h4>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="text" class="form-control" id="txtRut" name="txtRut" placeholder="Ingrese su rut" required>
                    <label for="txtRut">Rut</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre" required>
                    <label for="txtNombre">Nombre</label>
                </div>
                <div class="row mx-auto">
                    <div class="col mb-3">
                        <div class="form-floating w-50 ms-auto">
                            <input type="text" class="form-control" id="txtAppaterno" name="txtAppaterno" placeholder="Apellido paterno" required>
                            <label for="txtAppaterno">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-floating w-50">
                            <input type="text" class="form-control" id="txtApmaterno" name="txtApmaterno" placeholder="Apellido materno" required>
                            <label for="txtApmaterno">Apellido materno</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="date" class="form-control" id="txtFecha" name="txtFecha" placeholder="Fecha de Nacimiento" required>
                    <label for="txtFecha">Fecha de Nacimiento</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <select class="form-select" name="optGenero" id="optGenero">
                        <option>Seleccione</option>
                        <option>Otro</option>
                        <option>Femenino</option>
                        <option>Masculino</option>
                    </select>
                    <label for="optGenero">Genero:</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="email" class="form-control" id="txtMail" name="txtMail" placeholder="Correo" required>
                    <label for="txtMail">Correo</label>
                </div>
                <div class="form-floating w-50 mx-auto mb-3">
                    <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Constraseña" required>
                    <label for="txtPassword">Constraseña</label>
                </div>
                <div id="warningDiv" class="alert alert-danger d-flex align-items-center d-none w-75 mx-auto mb-3" role="alert">

                </div>
                <div id="succesDiv" class="alert alert-success d-flex align-items-center d-none w-75 mx-auto mb-3" role="alert">
                    Toda la informacion cumple con los requisitos
                </div>
                <div class="w-50 mx-auto mb-3">
                    <a href="../PaginaInicial.html" type="button" id="btnCarta" class="btn btn-outline-primary">Registrar Sesion</a>
                    <button type="button" id="btnValidar" class="btn btn-outline-success">Validar</button>
                </div>
                <div class="w-50 mx-auto mb-3">
                    <a href="{% url 'crud' %}"><button>Lista Usuarios</button></a>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>
        let alerta = false;
        $("#btnCarta").toggle(0);
        document.getElementById("btnValidar").addEventListener("click", function () {
            var alertDiv = document.getElementById("warningDiv");

            let rut = document.getElementById("txtRut").value;
            let nombre = document.getElementById("txtNombre").value;
            let appaterno = document.getElementById("txtAppaterno").value;
            let apmaterno = document.getElementById("txtApmaterno").value;
            let fecha = document.getElementById("txtFecha").value;
            let genero = document.getElementById("optGenero").value;
            let correo = document.getElementById("txtMail").value;
            let password = document.getElementById("txtPassword").value;

            let regexRut = /^(\d{1,3}(\.\d{3})*|\d+)-\d[kK]?$/;
            let regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let regexPass = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if (!regexRut.test(rut)) {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ El RUT ingresado no es válido.";
                return;
            }
            if (nombre.trim() === "" || nombre.length <= 4) {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ El campo Nombre es obligatorio y de al menos 5 letras.";
                return;
            }
            if (appaterno.trim() === "" || nombre.length <= 4) {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ El campo Apellido Paterno es obligatorio y de al menos 5 letras.";
                return;
            }
            if (apmaterno.trim() === "" || nombre.length <= 4) {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ El campo Apellido Materno es obligatorio y de al menos 5 letras.";
                return;
            }
            if (fecha === "") {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ El campo Fecha de Nacimiento es obligatorio.";
                return;
            }
            if (genero === "Seleccione") {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ Debe seleccionar un género.";
                return;
            }
            if (!regexEmail.test(correo)) {
                toggleAlerta(true);
                alertDiv.textContent = "ⓘ El correo electrónico ingresado no es válido.";
                return;
            }
            if (!regexPass.test(password)) {
                toggleAlerta(true);
                // P@ssw0rd!
                alertDiv.textContent = "ⓘ La contraseña ingresada no es válida.";
                return;
            }

            $("#btnCarta").toggle(500);
            toggleAlerta(false);
        });
    
        function toggleAlerta(alerta) {
            var alertDiv = document.getElementById("warningDiv");
            var succestDiv = document.getElementById("succesDiv");

            if (alerta == true) {
                alertDiv.classList.remove("d-none");
                alertDiv.classList.add("d-block");
                succestDiv.classList.remove("d-block");
                succestDiv.classList.add("d-none");
            } else if (alerta == false) {
                alertDiv.classList.remove("d-block");
                alertDiv.classList.add("d-none");
                succestDiv.classList.remove("d-none");
                succestDiv.classList.add("d-block");
            }
        };
    </script>
    <script>
    </script>
</body>

</html>