<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alya | Escritores</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/writers.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <header>
        {% include 'base/header.html'%}
    </header>
    <main>
        <h2 style="margin-bottom: 1%; margin-top: 3%; margin-left: 5.5%;">Explorar:</h2>
        <div class="row" id="lista" style="margin-right: 6%; margin-left: 6%;">

        </div>
        <div id="modals">

        </div>

        {% include 'base/carrito_desplegable.html'%}
    </main>
    <footer>
      {% include 'base/footer.html'%}
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>
      $(document).ready(function () {
          $.get("https://openlibrary.org/search/authors.json?q=work_count%3A[500+TO+*]&fields=name,date,birth_date,death_date,top_work,key,work_count", function(data) {
              $.each(data.docs, function (i, tmp) {
                if (i >= 36) {
                  return false;
                }

                const imgUrl = "https://covers.openlibrary.org/a/olid/" + tmp.key + ".jpg"
                const imgElement = $("<img>").attr("src", imgUrl).addClass("card-img-top");
                imgElement.attr("src", imgUrl);

                var date = " "
                if (tmp.date != undefined) {
                  date = tmp.date;
                } else if (tmp.birth_date != undefined && tmp.death_date != undefined) {
                  date = tmp.birth_date + " ~ " + tmp.death_date
                } else if (tmp.birth_date != undefined && tmp.death_date === undefined) {
                  date = tmp.birth_date + " ~ ???"
                } else {
                  date = "??? ~ ???";
                }
                
                var title;
                var i_title = 0;
      
                if (tmp.top_work.length > 35) {
                  i_title = tmp.top_work.substring(0, 35).lastIndexOf(' ');
                  title = tmp.top_work.substring(0, i_title) + "...";
                } else if (tmp.top_work.length > 45) {
                  title = tmp.top_work.substring(0, 42) + "...";
                } else {
                  title = tmp.top_work;
                }

                $("#lista").append(
                    "<div class=\"col-2\" style=\"margin-bottom: 5%;\">" +
                        "<button type=\"button\" class=\"btn p-0\" data-bs-toggle=\"modal\" data-bs-target=\"#author_" + tmp.key + "\">" +
                            "<div class=\"card\" style=\"width: 100%;\">" +
                                imgElement.prop('outerHTML') +
                                "<div class=\"card-body\">" +
                                    "<h4 class=\"card-title\"><b>" + tmp.name + "</b></h4>" +
                                    "<p class=\"card-text\">Obra destacada: <br>\"<b><i>" + title + "</b></i>\"</p>" +
                                "</div>" +
                            "</div>" +
                        "</button>" +
                    "</div>"
                )

                $("#modals").append(
                    "<div class=\"modal fade\" id=author_" + tmp.key + " aria-labelledby=\"bookModalLabel\" aria-hidden=\"true\">" +
                        "<div class=\"modal-dialog\">" +
                            "<div class=\"modal-content\">" +
                                "<div class=\"modal-header\">" +
                                    "<h1 class=\"modal-title fs-5\" id=\"bookModalLabel\"></h1>" +
                                    "<button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\" aria-label=\"Close\"></button>" +
                                "</div>" +
                                "<div class=\"modal-body\">" +
                                    "<div class=\"container-fluid\">" +
                                        "<div class=\"row\">" +
                                            "<div class=\"col-4\">" +
                                                imgElement.prop('outerHTML') +
                                            "</div>" +
                                            "<div class=\"col-8\">" +
                                                "<h1>" + tmp.name + "</h1>" +
                                                "<h6>" + date + "</h6>" +
                                                "<h6>" +  tmp.work_count + " Libros publicados</h6>" +
                                                "<h4><br>Obra destacada:<br>\"<b><i>" + tmp.top_work + "</b></i>\"</h4>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                                "<div class=\"modal-footer\">" +
                                    "<button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cerrar</button>" +
                                    "<a href=\"/escritor#" + tmp.key + "\" class=\"btn btn-primary\" role=\"button\">Ver más</a>" +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>"
                  )
                }
              )
            }
          )
        }
      )
    </script>

  <!-- SCRIPT CARRITO -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const btnAbrirVentana = document.querySelector('.btn-abrir-ventana');
      const ventanaEmergente = document.querySelector('.ventana-emergente');

      btnAbrirVentana.addEventListener('click', function() {
        ventanaEmergente.style.right = '0';
      });

      document.addEventListener('click', function(event) {
        if (!ventanaEmergente.contains(event.target) && !btnAbrirVentana.contains(event.target)) {
          ventanaEmergente.style.right = '-33%';
        }
      });
    });
  </script>
</body>
</html>